In [6]:
#use if else and elif to write a program in python for your report ca
print("entre 5 sunject marks:=")
sub1=int(input("enter marks of subject1:="))
sub2=int(input("enter marks of subject2:="))
sub3=int(input("enter marks of subject3:="))
sub4=int(input("enter marks of subject4:="))
sub5=int(input("enter marks of subject5:="))
total_marks=sub1+sub2+sub3+sub4+sub5
avrage=int(total_marks/5)
print("name:",name)
print("seat no:",seat_no)
print("class name:",class_name)
print("total marks:",total_marks)
print("avrage  marks:",avrage)
if(avrage>=90):
    print("gread: A")
elif(avrage>=80&avrage<=90):
    print("gread: B")
elif(avrage>=70&avrage<=80):
    print("gread: C")
elif(avrage>=60&avrage<=70):
    print("gread: D")
else:
    print("gread F")

entre 5 sunject marks:=
enter marks of subject1:=50
enter marks of subject2:=50
enter marks of subject3:=50
enter marks of subject4:=50
enter marks of subject5:=50
name: Patel rashmika
seat no: 11
class name: 10th
total marks: 250
avrage  marks: 50
gread: B

In [3]:
#[Q1].prime number 1  to 1000 usinf for loop
for num in range(1,1001):
    count=0
    for i in range(2,(num//2+1)):
        if(num%i==0):
            count=count+1
            break
if(count==0 and num!=1):
    print("%d" %num ,end=' ')

In [2]:
#[Q2.]multiplication table of 1 to 10 useing for loop
for i in range(1,11):
    print("\n \n MULTIPLICATION TABLE %d\n " %(i))
    for j in range(1,11):
        print("%3d\t X %3d = %3d"%(i,j,i*j))

 MULTIPLICATION TABLE 1

  1	 X   1 =   1
  1	 X   2 =   2
  1	 X   3 =   3
  1	 X   4 =   4
  1	 X   5 =   5
  1	 X   6 =   6
  1	 X   7 =   7
  1	 X   8 =   8
  1	 X   9 =   9
  1	 X  10 =  10


 MULTIPLICATION TABLE 2

  2	 X   1 =   2
  2	 X   2 =   4
  2	 X   3 =   6
  2	 X   4 =   8
  2	 X   5 =  10
  2	 X   6 =  12
  2	 X   7 =  14
  2	 X   8 =  16
  2	 X   9 =  18
  2	 X  10 =  20


 MULTIPLICATION TABLE 3

  3	 X   1 =   3
  3	 X   2 =   6
  3	 X   3 =   9
  3	 X   4 =  12
  3	 X   5 =  15
  3	 X   6 =  18
  3	 X   7 =  21
  3	 X   8 =  24
  3	 X   9 =  27
  3	 X  10 =  30


 MULTIPLICATION TABLE 4

  4	 X   1 =   4
  4	 X   2 =   8
  4	 X   3 =  12
  4	 X   4 =  16
  4	 X   5 =  20
  4	 X   6 =  24
  4	 X   7 =  28
  4	 X   8 =  32
  4	 X   9 =  36
  4	 X  10 =  40


 MULTIPLICATION TABLE 5

  5	 X   1 =   5
  5	 X   2 =  10
  5	 X   3 =  15
  5	 X   4 =  20
  5	 X   5 =  25
  5	 X   6 =  30
  5	 X   7 =  35
  5	 X   8 =  40
  5	 X   9 =  45
  5	 X  10 =  50


 MULTIPLICATION TABLE 6

  6	 X   1 =   6
  6	 X   2 =  12
  6	 X   3 =  18
  6	 X   4 =  24
  6	 X   5 =  30
  6	 X   6 =  36
  6	 X   7 =  42
  6	 X   8 =  48
  6	 X   9 =  54
  6	 X  10 =  60


 MULTIPLICATION TABLE 7

  7	 X   1 =   7
  7	 X   2 =  14
  7	 X   3 =  21
  7	 X   4 =  28
  7	 X   5 =  35
  7	 X   6 =  42
  7	 X   7 =  49
  7	 X   8 =  56
  7	 X   9 =  63
  7	 X  10 =  70


 MULTIPLICATION TABLE 8

  8	 X   1 =   8
  8	 X   2 =  16
  8	 X   3 =  24
  8	 X   4 =  32
  8	 X   5 =  40
  8	 X   6 =  48
  8	 X   7 =  56
  8	 X   8 =  64
  8	 X   9 =  72
  8	 X  10 =  80


 MULTIPLICATION TABLE 9

  9	 X   1 =   9
  9	 X   2 =  18
  9	 X   3 =  27
  9	 X   4 =  36
  9	 X   5 =  45
  9	 X   6 =  54
  9	 X   7 =  63
  9	 X   8 =  72
  9	 X   9 =  81
  9	 X  10 =  90


 MULTIPLICATION TABLE 10

 10	 X   1 =  10
 10	 X   2 =  20
 10	 X   3 =  30
 10	 X   4 =  40
 10	 X   5 =  50
 10	 X   6 =  60
 10	 X   7 =  70
 10	 X   8 =  80
 10	 X   9 =  90
 10	 X  10 = 100

In [8]:
#[Q4].print x prime number using while loop 0 to N number
no=1
last=int((input("enter any integer number:=")))

while(no<=last):
    count=0
    i=2
    
    while(i<=no//2):
        if(no%i==0):
            count=count+1
            break
        i=i+1
    if(count==0 and no!=1):
        print("%d"%no,end=' ')
    no=no+1

enter any integer number:=100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97